#sidebar-wrapper
  ul.sidebar-nav
    li.sidebar-brand(style="margin-top: 20px;")
      a(href="/admin/topics/create")
        span.glyphicon.glyphicon-plus.menuIcon
        span= t("left-menu.contribute")
      a
        span.glyphicon.glyphicon-search.menuIcon
        span= t("left-menu.search")
      a
        span.glyphicon.glyphicon-calendar.menuIcon
        span= t("left-menu.agenda")
      a
        span.glyphicon.glyphicon-question-sign.menuIcon
        span= t("left-menu.help")
       a
        span.glyphicon.glyphicon-user.menuIcon
        span= t("left-menu.contact")
